.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 2.5rem;
  font-weight: 560;
}

.subTitle {
  font-size: 1.3rem;
  font-weight: 200;
}
