.card {
  color: white;
  background-color: #fff;
  min-height: 550px;
  width: 330px;
  border-radius: 45px;

  display: grid;
  grid-auto-rows: 1fr 1fr;
  box-shadow: 3px 3px 20px black;
  border: 1px solid rgb(159, 158, 158);
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 45px;
  object-fit: cover;
  grid-column: 1 /2;
  grid-row: 1 / 3;
}

.info {
  display: grid;
  gap: 10px;

  grid-column: 1 /2;
  grid-row: 2 / 3;

  padding: 20px;
  backdrop-filter: blur(7px);
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}

.placePrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.place {
  font-size: 1.6rem;
  font-weight: 650;
}

.price {
  font-size: 14px;
  color: white;
  background: rgba(0, 0, 0, 0.457);
  padding: 5px 13px;
  border-radius: 100px;
}

.description {
  color: rgba(255, 255, 255, 0.853);
}

.hypeTime {
  list-style: none;
  display: flex;
  gap: 10px;
}

.hypeTime .hype,
.timePeriod {
  height: fit-content;
  font-weight: 500;
  padding: 3px 10px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.108);
}

.reserveBtn {
  font-size: 1.3rem;
  font-weight: 550;
  background: transparent;
  border-radius: 100px;
  padding: 7px;
  background-color: #fff;
  border: none;
}
